<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SurgiApp</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../stylesheets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../stylesheets/pl-styles.css">
</head>
<main>

     
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/">🍺🦠</a>
      
    </div>
  </nav>


      <div class="container-fluid pl-full-page pl-bg-greyish">
        <div class="container pt-5">
          <h4 class="text-center text-secondary">Fastest COVID-19 Testing.</h4>
          <br>
          <h4 class="text-center text-secondary">See results within seconds!</h4>
          <br><br><br>
        </div>

        <div class="container">

            <form action="/" method="POST">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="boxfortopic" id="inputGroup-sizing-default">Enter your name</label>
                </div>
                <input type="text" name="pt_name" id="boxfortopic" class="form-control">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label style="height: 100px;" class="input-group-text" for="descbox">Enter symptoms</label>
                </div>
                <textarea type="text" name="symptoms" id="descbox" class="form-control"></textarea st>
            </div>

        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Show My Results">
        </form>

        </div>
      </div>

      
  </main>

</html>

  